<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset="UTF-8">
		<meta name= 'viewport' content= "width=device-width, initial-scale =1.0">
		<title> PDF summerizer</title>
		<link rel='stylesheet' href="{{url_for('static', filename='css/styles.css') }}">

	</head>

	<body>
		<div class = "container">
			<h1> PDF summerizer </h1>
			<form action="/" method="POST" enctype = "multipart/form-data">
				<input type = "file" name="pdf" accept=".pdf">
				<button type ="submit"> Summarize </button>
			</form>
		
		</div>
	</body>
</html>
